version: '3.2'

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    group_add:
      - "988"  # docker group GID for socket access
    ports:
      - 9000:9000
      - 8000:8000
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/hugo/portainer:/data
    restart: unless-stopped