services:
  komodo-postgres:
    image: ghcr.io/ferretdb/postgres-documentdb
    container_name: komodo-postgres
    restart: unless-stopped
    volumes:
      - /home/hugo/komodo/postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: komodo
      POSTGRES_PASSWORD: komodo
      POSTGRES_DB: postgres

  komodo-ferretdb:
    image: ghcr.io/ferretdb/ferretdb
    container_name: komodo-ferretdb
    restart: unless-stopped
    depends_on:
      - komodo-postgres
    volumes:
      - /home/hugo/komodo/ferretdb-state:/state
    environment:
      FERRETDB_POSTGRESQL_URL: postgres://komodo:komodo@komodo-postgres:5432/postgres

  komodo-core:
    image: ghcr.io/moghtech/komodo-core:latest
    container_name: komodo-core
    restart: unless-stopped
    depends_on:
      - komodo-ferretdb
    ports:
      - "8080:9120"
    environment:
      KOMODO_DATABASE_ADDRESS: komodo-ferretdb:27017
      KOMODO_DATABASE_USERNAME: komodo
      KOMODO_DATABASE_PASSWORD: komodo
      KOMODO_HOST: http://192.168.0.111:8080
      KOMODO_LOCAL_AUTH: "true"
      KOMODO_INIT_ADMIN_USERNAME: admin
      KOMODO_INIT_ADMIN_PASSWORD: changeme
      KOMODO_DISABLE_USER_REGISTRATION: "false"
      KOMODO_ENABLE_NEW_USERS: "false"
      KOMODO_DISABLE_NON_ADMIN_CREATE: "false"
      KOMODO_TRANSPARENT_MODE: "false"
      KOMODO_LOGGING_PRETTY: "false"
      KOMODO_PRETTY_STARTUP_CONFIG: "false"